@model MyBase.WEB.Models.UserViewModel

@{
    ViewBag.Title = "Edit";
}

<h3>User edit</h3>
@using (Html.BeginForm("Edit", "Home"))
{
    <table>

        <tr>
            <td><p>First name </p></td>
            <td>@Html.Editor("FirstName") </td>
        </tr>
        <tr>
            <td><p>Last name</p></td>
            <td>@Html.Editor("LastName") </td>
        </tr>
        <tr>
            <td><p>Phone </p></td>
            <td>@Html.Editor("PhoneNumber") </td>
        </tr>
        <tr>
            <td><p>e-mail</p></td>
            <td>@Html.Editor("Email") </td>
        </tr>
        <tr><td><input type="submit" value="Done" /> </td><td></td></tr>
    </table>
}
